.row.well
  .col-md-3
    %h5= team_link(team_struct.team)
    - if team_struct.team.image.present?
      = link_to(image_tag(team_struct.team.image.tile, width: 100, title: team_struct.team), team_struct.team)
  .col-md-6
    = @chart.team_scores_count(team_struct)
  .col-md-3
    %table.table.table-condensed.table-bordered
      %tr
        %th.col-md-7 Gelaufene Zeiten:
        %td.col-md-2= team_struct.score_count
      - [:hb, :hl, :gs, :fs, :la].each do |discipline|
        - if team_struct[discipline] > 0
          %tr
            %th
              = discipline_image(discipline)
              = discipline_name(discipline)
            %td= team_struct[discipline]
