.row.page-header
  .col-md-1.hidden-xs.hidden-sm= discipline_image(@assessment.discipline, width: "100%")
  .col-md-7
    %h1
      = @assessment.round
      %br
      %small= @assessment
    %ul
      %li= link_to("Zurück zur Übersicht", @assessment.round)
      - @person_assessments.each do |assessment|
        %li= link_to(assessment, assessment)
  .col-md-4= render("series/cups_overview", cups: @assessment.cups)
= render('show_assessment_table', rows: @assessment.rows, cups: @assessment.cups)
= render("aggregate_type_#{@assessment.round.aggregate_type.underscore}") rescue ""