Du hast einen Einzelstarter für den Wettkampf <%= @competition %> angemeldet.

Weitere Informationen zu diesem Wettkampf findest du hier:
<%= comp_reg_competition_url(@competition) %>

Du kannst deine Anmeldung auch weiterhin bearbeiten oder wieder entfernen. Nutze dafür die folgende Seite:
<%= edit_comp_reg_person_url(@person) %>

Wettkämpfer: <%= @person.first_name %> <%= @person.last_name %>
Geschlecht: <%= @person.translated_gender %>