Es wurde eine neue Mannschaft für den Wettkampf <%= @competition %> angemeldet.

Weitere Informationen zu deinem Wettkampf findest du hier:
<%= comp_reg_competition_url(@competition) %>

Mannschaft: <%= @team.with_number %>
Geschlecht: <%= @team.translated_gender %>
Absender: <%= @team.admin_user %>

Bitte beachte, dass du über weitere Änderungen bezüglich dieser Mannschaft nicht separat informiert wirst.