= table_of_contents do |toc|
  .row
    .col-md-3= design_image("statistiken-logo", alt: "Logo")
    .col-md-9.page-header
      %h1 Feuerwehrsport - die große Auswertung
  .row
    .col-md-9
      %p.lead
        Diese Website dient der Auswertung des Feuerwehrsports in Deutschland über den Zeitraum der letzten Jahre. Dabei werden die Disziplinen
        %a{ href: "http://de.wikipedia.org/wiki/Hakenleitersteigen" } Hakenleitersteigen
        (Frauen und Männer),
        %a{ href: "http://de.wikipedia.org/wiki/100-Meter-Hindernislauf" } 100-Meter-Hindernisbahn
        (Frauen und Männer),
        %a{ href: "http://de.wikipedia.org/wiki/Gruppenstafette" } Gruppenstafette
        (Frauen),
        %a{ href: "http://de.wikipedia.org/wiki/Feuerwehrstafette" } 4x100-Meter-Feuerwehrstafette
        (Frauen und Männer) und
        %a{ href: "http://de.wikipedia.org/wiki/Löschangriff_Nass" } Löschangriff Nass
        (Frauen und Männer) ausgewertet.
    .col-md-3= toc.index
  .row
    .col-md-6
      = toc.anker("Neuigkeiten", :h3)
      = render("news_index", news: @news)
      %p.pull-right= link_to("Alle anzeigen", news_index_path)
    .col-md-6
      %h3 Neu eingetragene Wettkämpfe
      %ul
        - @last_competitions.each do |competition|
          %li= competition_link(competition, type: :overview_name)
        %p.pull-right= link_to("Alle anzeigen", last_competitions_path)
  = toc.anker("Überblick", :h2)
  .row
    .col-md-6
      %p Die Datenbank besteht derzeit aus vielen Tabellen die mit Hilfe von verschiedenen Algorithmen verbunden und ausgewertet werden. In der rechts angeordneten Tabelle ist die Größenordnung der derzeitigen Erfassung aufgelistet.
      %h4 Personen
      %p
        Als Identifikator wird der Name genommen. Sollten sich zwei Sportler mit gleichen Namen im System befinden, bitte
        = succeed "." do
          = link_to("melden", impressum_path)
      %h4 Typen und Wettkämpfe
      %p
        Im System wird zwischen
        = link_to("Wettkampftypen", events_path, title: "Wettkampftypen anzeigen")
        (D-Cup, DM, WM) und
        = link_to("Wettkämpfen", competitions_path, title: "Wettkämpfe anzeigen")
        (DM 2012 in Cottbus oder D-Cup 2012 in Tüttleben) unterschieden. Dazu werden die
        = link_to("Wettkampforte", places_path, title: "Wettkampforte anzeigen")
        gespeichert, damit auch die Zeiten auf Tartanbahn mit denen auf Schotterbahnen verglichen werden können.
    .col-md-3
      %table.table
        %tr
          %th Personen:
          %td= @people_count
        %tr
          %th Zeiten:
          %td= @score_valid_count
        %tr
          %th Fehlversuche:
          %td= @score_invalid_count
        %tr
          %th Orte:
          %td= @places_count
        %tr
          %th Typen:
          %td= @events_count
        %tr
          %th Wettkämpfe:
          %td= @competitions_count
        %tr
          %th Mannschaften:
          %td= @teams_count
    .col-md-3
      %h4 Ø Beste 5 pro Wettkampf
      = @charts.year_overview
  = toc.anker("Super Leistungen vom Jahr 2016", :h2, label_value: "Leistungen Jahr 2016")
  
  = nav_tab do |nv|
    - @performance_overview_disciplines.each do |discipline|
      - nv.tab(discipline_image_name_short(discipline.discipline, discipline.gender)) do
        %table.table
          - discipline.entries.each do |entry|
            %tr
              %td.col-5= entry.rank
              %td.col-25= person_link(entry.entity, type: :full_name)
              %td.col-70= score_links(entry.scores)
            %tr.hint-line
              %td{ colspan: 2 }
                %em= "#{entry.rounded_points} Punkte"
              %td
                Durchschnitt:
                %strong= entry.second_valid_time_average
  .row
    .col-md-5
      %p
        Zu
        = link_to("jedem Jahr", years_path)
        können sich die Statistiken auch separat angesehen werden. Diese Statistiken wird auch in Zukunft ausgeweitet.
    .col-md-7
      %table.years-overview-home
        - while @years_count.count > 0
          %tr
            - (1..4).each do
              - year, count = @years_count.shift
              %td
                - if year.present?
                  = link_to(year, year_path(year), title: "Überblick über das Jahr #{year}")
                  = " (#{count})"

  = toc.anker("Mitmachen", :h2)
  .row
    .col-md-9
      %p Jeder kann bei der Vervollständigung der Daten mitmachen. Dafür gibt es mehrere Möglichkeiten:
      %ul
        %li Zeiten einer Mannschaft zuordnen
        %li Link zu Wettkampf melden
        %li Person einer Mannschaft zuordnen
        %li Fehler melden
    .col-md-3= design_image("system-users")

  = toc.anker("Datenbank", :h2)
  .row
    .col-md-9
      %p Die Daten für diese statistische Auswertung stammen von verschiedenen Quellen. Ein großer Teil wurde mir von Daniel Grosche zur Verfügung gestellt. Diese Daten lagen sogar im Excel-Format vor, wodurch die Daten schnell importiert werden konnten. Weitere Ergebnisse wurden aus PDFs extrahiert. Dabei ist neben der Seite vom Team MV die Seite des LFV BB und der Feuerwehr Cottbus zu nennen, die viele Ergebnisse bereitstellen.
      %p
        Ein großer Dank geht auch an
        = succeed "." do
          = link_to("Florian Müller", person_path(302))
      %p
        Sollte sich jemand durch die Verwendung der Daten in seinem Urheberrecht verletzt fühlen, bitte nicht sofort abmahnen. Über
        = link_to("E-Mail", impressum_path)
        bin ich immer relativ schnell erreichbar. Das gleiche gilt auch für Fehler in den Daten
      %p Falls auch ein Informatiker unter den Lesern sein sollte:
      %ul.disc
        %li
          %a{href: "https://github.com/georf/Feuerwehrsport-Statistik"} Quelltext
        %li
          %a{href: "https://github.com/georf/Feuerwehrsport-Statistik-Daten"} Datenbank
        %li
          %a{href: "https://github.com/georf/Feuerwehrsport-Statistik-Ergebnisse"} PDF-Dokumente
        %li
          %a{href: "https://github.com/georf/Feuerwehrsport-Statistik-Logos"} Logos der Teams
    .col-md-3= design_image("gnumeric")

  = toc.anker("Fehler in den Daten", :h2)
  .row
    .col-md-9
      %p
        Die Daten stammen von unterschiedlichen Quellen, die alle separat importiert wurden. Dabei kommt es immerwieder zu Fehlern, weil Namen verkehrt zugeordnet werden oder Zeiten verschoben sind. Solltet ihr einen solchen Fehler gefunden haben, schickt mir einfach eine
        = succeed "." do
          = link_to("E-Mail", impressum_path)
      %p Außerdem gibt es die Möglichkeit, Fehler direkt zu beheben. Viele Namen wurden in den Ergebnislisten falsch geschrieben. Deshalb sind diese Namen in der Datenbank doppelt vorhanden. Um dies zu beheben, geht man auf die Seite der nicht korrekten Person. Am unteren Ende der Seite ist dann eine Schaltfläche für das Beheben dieses Fehlers.
      %p
        Viel interessanter für mich und hoffentlich auch für euch sind zusätzliche Daten. Falls ihr also noch eine Ergebnisliste eines Wettkampfes habt, dann
        = link_to("schickt", impressum_path)
        sie mir doch bitte. Ich pflege die Daten dann in die Datenbank ein und die Statistiken werden erweitert. Am besten sind dafür natürlich digitale Daten geeignet. Eingescannte Ergebnislisten lassen sich nicht importieren und müssten abgeschrieben werden. Diese Arbeit werde ich mir nicht machen, aber falls ihr unbedingt einen Wettkampf mit drin haben wollt, den es nur noch mit eingescannter Liste gibt, dann schreibt ihn ab und schickt ihn mir. Außerdem würde ich dann gerne noch einen Link als Beweis für die Echtheit haben.
    .col-md-3= design_image("education")