%h1 Neu eingetragene Wettkämpfe
= count_table(@last_competitions) do |ct|
  - ct.col("Wettkampf") { |c| competition_link(c, type: :overview_name) }
  - ct.col("Eingetragen am") { |c| l(c.created_at, format: :only_date) }
