= simple_form_for(resource_instance) do |f|
  = f.input :competition_id, as: :hidden
  = f.input :name, as: :hidden
  = f.input :shortcut, as: :hidden
  = f.input :gender, as: :hidden
  = f.input :team_number, as: :hidden
  = f.input :team_leader, as: :hidden
  = f.input :street_with_house_number, as: :hidden
  = f.input :postal_code, as: :hidden
  = f.input :locality, as: :hidden
  = f.input :phone_number, as: :hidden
  = f.input :email_address,as: :hidden
  = f.input :federal_state_id, as: :hidden
  = hidden_field_tag(:step, 0)

  .row
    .col-md-9
      %table.table
        %tr
          %th Name
          %td= resource_instance.name
        %tr
          %th Abkürzung
          %td= resource_instance.shortcut
        %tr
          %th Geschlecht
          %td= resource_instance.translated_gender
    .col-md-3= f.submit "Zurück zum Namen", class: "btn btn-default"


= simple_form_for(resource_instance) do |f|
  = hidden_field_tag(:step, 2)
  = f.input :competition_id, as: :hidden
  = f.input :name, as: :hidden
  = f.input :shortcut, as: :hidden
  = f.input :gender, as: :hidden
  = f.input :team_number, as: :hidden
  = f.input :team_leader, as: :hidden
  = f.input :street_with_house_number, as: :hidden
  = f.input :postal_code, as: :hidden
  = f.input :locality, as: :hidden
  = f.input :phone_number, as: :hidden
  = f.input :email_address,as: :hidden
  = f.input :federal_state_id, as: :hidden

  - if resource_instance.competition.team_tag_list.present?
    %fieldset
      %legend Zusätzliche Angaben
      - resource_instance.competition.team_tag_list.each do |tag|
        = f.simple_fields_for :tags, (f.object.tags.find { |t| t.name == tag } || f.object.tags.new(name: tag)) do |g|
          = g.input :name, as: :hidden
          = g.input :_destroy, as: :boolean, label: tag, input_html: { checked: g.object.persisted? }, checked_value: "0", unchecked_value: "1"
          = g.input :id, as: :hidden

  - if CompReg::CompetitionAssessment.requestable_for(resource_instance).present?
    %fieldset
      %legend Wertungsgruppen auswählen
      .row
        - CompReg::CompetitionAssessment.requestable_for(resource_instance).each do |assessment|
          .col-md-5.team-assessment-participation
            = f.simple_fields_for :team_assessment_participations, resource_instance.team_assessment_participations.object.find_or_initialize_by(competition_assessment: assessment) do |g|
              %h4= assessment.decorate
              = g.input :_destroy, as: :boolean, label: 'Teilnahme', input_html: { checked: g.object.persisted? }, checked_value: "0", unchecked_value: "1"
              = g.input :competition_assessment_id, as: :hidden
  .pull-right
    = link_to("Abbrechen", comp_reg_competition_path(resource_instance.competition_id), class: "btn btn-default")
    = f.submit class: "btn btn-primary" 
