= simple_form_for(resource_instance) do |f|
  = hidden_field_tag(:step, 1)
  = f.input :competition_id, as: :hidden
  .col-md-8
    %fieldset
      %legend Allgemein
      = f.input :name
      = f.input :team_number
      = f.input :shortcut
      = f.input :gender, collection: Genderable::GENDERS.keys.map { |gender| [ g(gender), gender ]}
      = f.association :federal_state
  .col-md-4
    .panel.panel-default
      .panel-heading
        %h3.panel-title Wettkampfanmeldung
      .panel-body
        = link_to(resource_instance.competition, resource_instance.competition)

  - unless resource_instance.new_record?
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h3.panel-title Entfernen?
        .panel-body
          %p Willst du die Anmeldung dieser Mannschaft entfernen?
          = link_to("Entfernen", { action: :destroy }, method: :delete, data: { confirm: "Mannschaft entfernen?" }, class: "btn btn-default btn-block btn-sm")

  .col-md-8
    %fieldset
      %legend Daten der Mannschaft
      = f.input :team_leader
      = f.input :street_with_house_number
      = f.input :postal_code
      = f.input :locality
      = f.input :phone_number
      = f.input :email_address
  .col-md-4
    .panel.panel-default
      .panel-heading
        %h3.panel-title Datenschutz
      .panel-body
        %p Die hier angegebenen Daten sind nur der Wettkampfleitung zugängig. Bitte fülle sie korrekt aus, um bei kurzfristigen Rückfragen eine Kontaktmöglichkeit zu haben.
  .col-md-8
    .pull-right
      = link_to("Abbrechen", comp_reg_competition_path(resource_instance.competition_id), class: "btn btn-default")
      = f.submit "Weiter", class: "btn btn-primary" 
