= simple_form_for([:backend, @resource_instance]) do |f|
  = f.input :name
  = f.input :shortcut
  = f.input :status, collection: Team::STATUS.keys, selected: @resource_instance.status
  = f.input :latitude
  = f.input :longitude
  = f.input :image
  = f.input :state
  = f.button :submit
