= simple_form_for([:backend, @resource_instance]) do |f|
  = f.association :person
  = f.input :first_name
  = f.input :last_name
  = f.input :gender, collection: [:male, :female]
  = f.input :official
  = f.button :submit