alias <%= fetch(:application) %>.cd_srv='cd <%= fetch(:deploy_to) %>'
alias <%= fetch(:application) %>.cd_log='cd <%= fetch(:deploy_to) %>/current/log/'
alias <%= fetch(:application) %>.cd_current='cd <%= fetch(:deploy_to) %>/current/'
alias <%= fetch(:application) %>.less_production='less -R <%= fetch(:deploy_to) %>/current/log/production.log'
alias <%= fetch(:application) %>.less_unicorn='less -R <%= fetch(:deploy_to) %>/current/log/unicorn.log'
alias <%= fetch(:application) %>.less_nginx_access='less -R <%= fetch(:deploy_to) %>/current/log/nginx/nginx.access.log'
alias <%= fetch(:application) %>.less_nginx_error='less -R <%= fetch(:deploy_to) %>/current/log/nginx/nginx.error.log'
alias <%= fetch(:application) %>.restart_unicorn='/etc/init.d/unicorn_<%= fetch(:application) %> restart'
alias <%= fetch(:application) %>.restart_unicorn_slow='/etc/init.d/unicorn_<%= fetch(:application) %> stop ; sleep 10 ; /etc/init.d/unicorn_<%= fetch(:application) %> start'
