#!/bin/bash
<% 
extra_env = ["RAILS_ENV=#{fetch :stage}"]
if !fetch(:http_proxy).nil? && !fetch(:http_proxy).empty?
  extra_env.push "http_proxy=#{fetch(:http_proxy)}"
  extra_env.push "https_proxy=#{fetch(:http_proxy)}"
end
cmd = "cd #{current_path}; source /home/#{fetch :user}/#{fetch :application}_env_vars; #{extra_env.join(" ")} bundle exec rails c" 
%>

if [ "$(id -un)" = "<%= unicorn_user %>" ]; then
  eval "<%= rvm_shell.gsub(/\$HOME/, "~#{unicorn_user}") %> -c \"<%= cmd %>\""
  else
  su -c "<%= rvm_shell.gsub(/\$HOME/, "~#{unicorn_user}") %> -c \"<%= cmd %>\"" - <%= unicorn_user %>
fi
