@import "bootstrap-sprockets"
@import "bootstrap"
// @import "dataTables/jquery.dataTables"
@import "dataTables/jquery.dataTables.bootstrap"
@import "footer"
@import "fss_window"
@import "lib/bootstrap-datetimepicker"

.person-discipline-area,.person-teams-area,.calculation-area
  padding-left: 30px
.col-5
  width: 5%
.col-10
  width: 10%
.col-15
  width: 15%
.col-20
  width: 20%
.col-25
  width: 25%
.col-30
  width: 30%
.col-40
  width: 40%
.col-50
  width: 50%
.col-60
  width: 60%
.col-70
  width: 70%
.col-80
  width: 80%
.col-90
  width: 90%

td.small
  font-size: 0.85em

.tab-content > .tab-pane
  border: 1px solid #ddd
  border-top: 0
  border-bottom-right-radius: 4px
  border-bottom-left-radius: 4px
  margin-bottom: 20px
  padding: 10px

table.team_assessments
  width: 100%


table.years-overview-home
  width: 100%

.backend-nav
  border: 1px solid #ddd
  border-radius: 4px

.map
  height: 300px



.missed-1
  background-color: #8cff93

.missed-2
  background-color: #e3ff9d

.missed-3
  background-color: #e8edb2

.missed-4
  background-color: #ffe08c

.missed-5
  background-color: #e88e6f

.missed-6
  background-color: #f36c5f

#add-file-form
  background: #FCFCFC
  padding: 20px

.upload-logo
  width: 100px
  height: 100px
  cursor: pointer

div.team-logo-replacement
  display: inline-block
  width: 100px
  height: 100px
  border: 1px solid black
  vertical-align: top
  text-align: center
  overflow: hidden
  padding-top: 10px

.full-width
  width: 99%

td.info-link
  font-weight: bold


.table-bordered > tbody > tr.other-year > td
  border-top-width: 4px

.alert-error
  @extend .alert-danger
.alert-alert
  @extend .alert-warning
.alert-notice
  @extend .alert-info

fieldset
  padding: 10px
  legend
    margin-left: -10px