@import modal

form .competition-assessment
  border: 1px solid #CCCCCC
  padding: 5px 10px
  border-radius: 5px
  margin: 10px
  font-size: 0.9em
  .help-block
    font-style: italic

#template-select .template
  background: #EFEFEF
  margin: 10px
  padding: 10px
  border-radius: 5px

.team-assessment-participation
  border: 1px solid #CCCCCC
  padding: 5px 10px
  border-radius: 5px
  margin: 10px

input.person-assessment
  width: 70px

.form-group.person-assessment
  float: left
.form-group.single-competitor-order
  float: right


.suggestions-entries
  overflow: auto
  height: 200px
  border: 1px solid #ccc
  margin-bottom: 10px
  .first_name, .last_name
    width: 33%
  .team
    width: 33%
    font-size: 10px
  tr
    cursor: pointer

.competition-description
  background: #EEE


.people-sortable-table tbody tr
  cursor: move
