%h1
  = @appointment
  %small
    Wettkampftermin -
    = l(@appointment.dated_at, format: :german)

.row
  .col-md-7= simple_format(@appointment.description)
  .col-md-5
    %table.table
      %tr
        %td{ colspan: 2 }
          %a{ href: url_for(format: :ics) }
            = design_image("calendar", width: "20px")
            iCalendar-Datei zu diesem Termin
      %tr
        %th Datum
        %td= l(@appointment.dated_at, format: :german)
      %tr
        %th Disziplinen
        %td= @appointment.discipline_images
      - if @appointment.place.present?
        %tr
          %th Ort
          %td= place_link(@appointment.place)
      - if @appointment.event.present?
        %tr
          %th Typ
          %td= place_link(@appointment.event)
      %tr
        %th Links
        %td= render('links', links: @appointment.links, linkable_type: resource_class, linkable_id: @appointment.id)
      %tr
        %th{ colspan: 2 }
          .pull-right
            #edit-appointment.btn.btn-default{ data: { appointment_id: @appointment.id } } Termin bearbeiten
