Hallo <%= @resource.name %>,

jemand hat für dich ein Anfrage für ein neues Passwort gestellt. Über den nachfolgenden Link kannst du dir ein neues Passwort setzen:

<%= edit_password_url(@resource, reset_password_token: @token) %>

Falls du diese Anfrage nicht gestellt hast, ignoriere diese E-Mail einfach. Dein Passwort wird sich dann nicht ändern.
