%h4 Hakenleitersteigen in Mecklenburg-Vorpommern

%p Der MV-Steigercup wurde 2009 zum ersten Mal vom Team MV ausgeschrieben, um die Feuerwehrleute im eigenen Bundesland den Sport näher an die Wehr zu bringen. Vorher gab es nur Wettkämpfe in anderen Bundesländern oder beim D-Cup.

%p Die Wettkämpfe werden jedes Jahr an verschiedenen Orten in MV ausgetragen. Jeder Cup geht in eine Gesamtwertung ein. Beim letzten Wettkampf im Jahr wird dann der Gesamtsieger gekürt. Seit 2014 starten auch Frauen am Turm.

%p.mark.text-center Ausdrücklich sind alle Feuerwehrsportler als Starter willkommen. Auch Starter aus anderen Bundesländern können gerne teilnehmen.

= render('link', target: "http://www.feuerwehrsport-teammv.de/termine/steigercup/", label: "Weitere Informationen beim Team-MV")

%h4 Neue Regelung seit 2012

.row
  .col-md-9
    %p Im Jahr 2012 wurde eine neue Regelung getroffen. Drei von vier Wettkämpfe gehen in die Gesamtwertung ein. Die schlechteste Platzierung wird gestrichen. Somit ist es auch möglich, bei einem Wettkampf nicht anwesend zu sein und trotzdem eine gute Gesamtwertung zu erreichen.

    %p Die neuen Wanderpokale sollen für die nächsten 10 Jahre wandern. Axel Scheurenbrand hat diese mit persönlicher Arbeit 2014 bereitgestellt. Danach werden alle Punkte über die Jahre zusammengezählt und die drei Pokale nach Punkten vergeben. So soll es auch möglich sein, dass jemand, der immer nur vierter wurde den Pokal endgültig nach Hause holt.
  .col-md-2
    = image_tag(asset_path("series/mv-steigercup-pokal.jpg"), class: "full-width")
