%h4 Hindernisbahn in Mecklenburg-Vorpommern

%p Der MV-Hinderniscup wurde 2013 zum ersten Mal vom Team MV ausgeschrieben, um neben dem MV-Steigercup einen weiteren Wettkampf im Land zu etablieren. Auch hier liegt das Augenmerk neben dem Spaß auf der Verbreitung des Sports. Die Wettkämpfe werden jedes Jahr an verschiedenen Orten in Mecklenburg-Vorpommern ausgetragen. Beim letzten Wettkampf im Jahr wird dann der Gesamtsieger gekürt.

%p.mark.text-center Ausdrücklich sind alle Feuerwehrsportler als Starter willkommen. Auch Starter aus anderen Bundesländern können gerne teilnehmen.

= render('link', target: "http://www.feuerwehrsport-teammv.de/termine/hinderniscup/", label: "Weitere Informationen beim Team-MV")

.row
  .col-md-9
    %h4 Punkteregelung

    %p Drei von vier Wettkämpfe gehen in die Gesamtwertung ein. Die schlechteste Platzierung wird gestrichen. Somit ist es auch möglich, bei einem Wettkampf nicht anwesend zu sein und trotzdem eine gute Gesamtwertung zu erreichen.

  .col-md-2
    = image_tag(asset_path("series/mv-hinderniscup-pokal.jpg"), class: "full-width")