= table_of_contents do |toc|
  .page-header.row
    .col-md-5
      %h1= @round
    .col-md-4= render("series/cups_overview", cups: @round.cups)
    .col-md-3= toc.index
  
  = render('show', toc: toc, cache: true)

  %hr
  .col-md-3.pull-right
    .panel.panel-default
      .panel-heading
        %h3.panel-title Anregungen?
      .panel-body 
        Falls du Anmerkungen zu dieser Wettkampfserie hast, 
        = contact_link("kontaktiere")
        uns!
  .col-md-3.pull-right
    .panel.panel-warning
      .panel-heading
        %h3.panel-title Keine offiziellen Ergebnisse!
      .panel-body 
        Diese Ergebnisse wurden importiert. Gerade bei Wettkampfserien kann es dabei zu Fehlern kommen. Wenn du einen Fehler findest, 
        = contact_link("kontaktiere")
        uns!