#footer
  .container
    %ul.nav.nav-justified
      %li= link_to("Anmelden", backend_root_path)
      %li= link_to("RSS", rss_path)
      %li= link_to("Veränderungen", change_logs_path)
      %li= link_to("Feuerwehrsport Team-MV", "http://www.feuerwehrsport-teammv.de")
      %li= link_to("Kontakt/Impressum", impressum_path)
        