#wrap
  .navbar.navbar-default.navbar-static-top{:role => "navigation"}
    .container
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      .collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li= link_to("Startseite", root_path)
          %li= link_to("Termine", appointments_path)
          %li= link_to("Feuerwehrsport", feuerwehrsport_path)
          %li= link_to("Serien", series_rounds_path)
          %li= link_to("Wettkämpfe", competitions_path)
          %li= link_to("Mannschaften", teams_path)
          %li= link_to("Personen", people_path)
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Weitere Statistiken
              %b.caret
            %ul.dropdown-menu
              %li= link_to("Orte", places_path)
              %li= link_to("Typen", events_path)
              %li= link_to("Jahre", years_path)
              %li.divider
              %li.dropdown-header Interessantes
              %li= link_to("Neuigkeiten", news_index_path)
              %li= link_to("Rekorde", records_path)
              %li= link_to("100 Bestzeiten", best_of_path)
              %li= link_to("Statistiken 2015", year_path(id: 2016))
              %li= link_to("Statistiken 2015", year_path(id: 2015))
              %li= link_to("Statistiken 2014", year_path(id: 2014))
              %li= link_to("Letzte Änderungen", change_logs_path)
