.page-header
  %h1
    Bestzeiten des Jahres
    = @year
.row
  .col-md-3
    %ul
      %li= link_to("Überblick über das Jahr #{@year}", action: :show)
      %li= link_to("Bestleistungen des Jahres", action: :best_performance)
  .col-md-4
    %p= "Die Tabellen zeigen die gesammelten Bestzeiten für das Jahr #{@year} in den einzelnen Disziplinen."

= nav_tab do |nv|
  - @discipline_structs.each do |struct|
    - nv.tab(discipline_image_name_short(struct.discipline, struct.gender)) do
      = count_table(struct.scores, table_class: UI::RankTable, class: "datatable-best-scores", rank_options: { class: "col-10" }) do |t|
        - t.col("Name", class: "col-30") { |row| person_link(row.entity, type: :full_name) }
        - t.col("Zeit", :second_time, class: "col-10")
        - t.col("Wettkampf", class: "col-40") { |row| competition_link(row.competition) }
