= table_of_contents do |toc|
  .page-header.row
    .col-md-9
      %h1
        Überblick für Jahr
        = @year
      .row
        .col-md-6
          %ul
            %li= link_to("Bestzeiten des Jahres", action: :best_scores)
            %li= link_to("Bestleistungen des Jahres", action: :best_performance)
        .col-md-6
          %p
            = "Diese Seite zeigt Statistiken über das Jahr #{@year}. Für die einzelnen Disziplinen sind die Unterseiten"
            = link_to("Bestzeiten des Jahres", action: :best_scores)
            und
            = link_to("Bestleistungen des Jahres", action: :best_performance)
            interessant.
    .col-md-3= toc.index

  = toc.anker("Wettkämpfe")
  = count_table(@competitions, class: "datatable-year-competitons") do |t|
    - t.col("Datum", class: "col-10 info-link") { |row| competition_link(row, type: :l_date) }
    - t.col("Ort", class: "col-10 small") { |row| place_link(row.place) }
    - t.col("Typ", class: "col-10 small") { |row| event_link(row.event) }
    - t.col("Name", class: "col-20 info-link") { |row| competition_link(row, type: :name) }
    - t.col("HBw", th_options: { class: "small" }, class: "col-5") { |row| count_or_zero(row.hb_female) }
    - t.col("HBm", th_options: { class: "small" }, class: "col-5") { |row| count_or_zero(row.hb_male) }
    - t.col("HLw", th_options: { class: "small" }, class: "col-5") { |row| count_or_zero(row.hl_female) }
    - t.col("HLm", th_options: { class: "small" }, class: "col-5") { |row| count_or_zero(row.hl_male) }
    - t.col("GS", th_options: { class: "small" }, class: "col-5") { |row| count_or_zero(row.gs) }
    - t.col("FSw", th_options: { class: "small" }, class: "col-5") { |row| count_or_zero(row.fs_female) }
    - t.col("FSm", th_options: { class: "small" }, class: "col-5") { |row| count_or_zero(row.fs_male) }
    - t.col("LAw", th_options: { class: "small" }, class: "col-5") { |row| count_or_zero(row.la_female) }
    - t.col("LAm", th_options: { class: "small" }, class: "col-5") { |row| count_or_zero(row.la_male) }

  = render 'calculation/competitions_discipline_overview', toc: toc
