= render('series/rounds/show', toc: toc, cache: false)

- @person_assessments.each do |assessment|
  %hr
  .pull-right
    - @round.cups.each do |cup|
      .add-person-participation.btn.btn-info.btn-sm{ data: { assessment_id: assessment.id, cup_id: cup.id } }=  "Eintrag zu #{cup} hinzufügen"

  = toc.anker(assessment.to_s, :h3)
  = render('series/assessments/show_assessment_table', rows: assessment.rows, cups: assessment.cups)