= table_of_contents do |toc|
  = toc.index
  = toc.anker("Wettkämpfe", :h2)
  %table.table
    - @round.cups.each do |cup|
      %tr
        %th= competition_link(cup.competition)
        %td
          .add-team-participation.btn.btn-info{ data: { cup_id: cup.id } } Mannschaftsteilnahme hinzufügen
        %td= button_to("Entfernen", {action: :competition_destroy, cup_id: cup.id}, class: "btn btn-danger", data: { confirm: "Diesen Wettkampf mit allen Zeiten aus der Serie entfernen?" })
  #edit-series-participations{ data: { round_id: @round.id } }= render('single_show', toc: toc)
