- if @publishing_form
  = render('publishing_form')
- else
  = simple_form_for(resource_instance) do |f|
    .row
      .col-md-8
        %fieldset
          %legend Allgemeine Information
          = f.input :name
          = f.input :date, as: :date_picker
          = f.input :place
          = f.input :description, as: :ckeditor
          - if can?(:manage, AdminUser)
            = f.association :admin_user
        %fieldset
          %legend Anmeldeinformationen
          = f.input :open_at, include_blank: true, as: :datetime_picker
          = f.input :close_at, include_blank: true, as: :datetime_picker
        %fieldset
          %legend Zusätzliche Angaben für Anmeldende
          = f.input :person_tags
          = f.input :team_tags
      - unless resource_instance.new_record?
        .col-md-4
          .panel.panel-default
            .panel-heading
              %h3.panel-title Entfernen?
            .panel-body
              %p Willst du diesen Wettkampf entfernen?
              %p Dabei gehen alle gespeichert Anmeldungen verloren.
              = link_to("Entfernen", { action: :destroy }, method: :delete, data: { confirm: "Wettkampf entfernen?" }, class: "btn btn-default btn-block btn-sm")
      .col-md-8
        %fieldset
          %legend Angebotene Disziplinen
          = f.input :group_score
      = f.simple_fields_for :competition_assessments do |competition_assessment|
        = render 'competition_assessment_fields', f: competition_assessment
      .col-md-8.links
        = link_to_add_association 'Wertung hinzufügen', f, :competition_assessments, class: "btn btn-sm btn-info"
      .col-md-8
        .pull-right
          = link_to("Abbrechen", { action: :index }, class: "btn btn-default")
          = f.submit class: "btn btn-primary"