<%= yield %>

---------------------------------------------------------
Diese E-Mail wurde von der Webseite
https://www.feuerwehrsport-statistik.de
gesendet. Es handelt sich um eine automatisch generierte
E-Mail. Bei Fragen, Anregungen und Kritik nutzen Sie die
Kontaktdaten, die im Impressum der Seite hinterlegt sind.